<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohibited this obj from being saved:
<% @book.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>
<h1>Users</h1>
  <table>
    <thead>
      <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
<% @users.each do |user| %>
<tr>
<td><%=attachment_image_tag user, :profile_image, :fill, 60, 60, fot: "jpg", fallback: "no_image.jpg" %></td>
<td><%= user.name %></td>
<td><%= link_to "show", user_path(user.id) %></td>
</tr>
<% end %>
</tr>
</tbody>
</table>
<%= paginate @users %>
<% if user_signed_in? %>>
<h1>User info</h1>
<%=attachment_image_tag current_user, :profile_image, :fill, 60, 60, fot: "jpg", fallback: "no_image.jpg" %>
<p>name</p>
<%= current_user.name %>
<p>introduction</p>
<%= current_user.introduction %>
<% end %>
<h1>New Book</h1>
<%= render "books/newbook", book: @newbook %>